---
layout: default
title: Galerie
---

<section id="intro" class="galerie">
    <div class="container text-center">
        <h1>Galerie</h1>
    </div>
</section>
{% include orders.html %}
<section id="maderoterapie">
    <div class="container">
        <h2>Maderoterapie těla</h2>
        <div class="row">
            {% for image in site.static_files %}
                {% if image.path contains 'images/telo' %}
                    <div class="col"><div class="photo">
                        <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
                    </div></div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>

<section class="mint-back">
    <div class="container">
        <h2>Maderoterapie obličeje</h2>
        <div class="row">
            {% for image in site.static_files %}
                {% if image.path contains 'images/oblicej' %}
                    <div class="col"><div class="photo">
                        <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
                    </div></div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>

<section id="promeny">
    <div class="container">
        <h2>Proměny</h2>
        <div class="row">
            {% for image in site.static_files %}
                {% if image.path contains 'images/promeny' %}
                    <div class="col"><div class="photo">
                        <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
                    </div></div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>

<section id="zabaly" class="mint-back">
    <div class="container">
        <h2>Zábaly</h2>
        <div class="row">
            {% for image in site.static_files %}
                {% if image.path contains 'images/zabaly' %}
                    <div class="col"><div class="photo">
                        <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
                    </div></div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>

<section id="salon">
    <div class="container">
        <h2>Salon</h2>
        <div class="row">
            {% for image in site.static_files %}
                {% if image.path contains 'images/salon' %}
                    <div class="col"><div class="photo">
                        <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
                    </div></div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>