---
layout: default
title: Galerie
---

<section id="intro" class="galerie">
    <div class="container text-center">
        <h1>Galerie</h1>
    </div>
</section>
{% include orders.html %}
<section id="maderoterapie">
    <div class="container">
        <h2>Maderoterapie těla</h2>
        <div class="row">
            <!--            {% for image in site.static_files %}-->
            <!--                {% if image.path contains 'images/telo' %}-->
            <!--                    <div class="col"><div class="photo">-->
            <!--                        <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />-->
            <!--                    </div></div>-->
            <!--                {% endif %}-->
            <!--            {% endfor %}-->
            <div class="col-md-6 col-xl-3">
                <img src="./assets/images/telo/telo2.jpg" alt="image" class="img-fluid mx-auto mb-4 d-block"/>
            </div>
            <div class="col-md-6 col-xl-3">
                <img src="./assets/images/telo/telo3.jpg" alt="image" class="img-fluid mx-auto mb-4 d-block"/>
            </div>
            <div class="col-md-6 col-xl-3">
                <img src="./assets/images/telo/telo4.jpg" alt="image" class="img-fluid mx-auto mb-4 d-block"/>
            </div>
            <div class="col-md-6 col-xl-3">
                <img src="./assets/images/telo/telo5.jpg" alt="image" class="img-fluid mx-auto mb-4 d-block"/>
            </div>

            <div class="col-md-6 col-xl-3">
                <img src="./assets/images/telo/telo6.jpg" alt="image" class="img-fluid mx-auto mb-4 d-block"/>
            </div>
            <div class="col-md-6 col-xl-3">
                <img src="./assets/images/telo/telo8.jpg" alt="image" class="img-fluid mx-auto mb-4 d-block"/>
            </div>
            <div class="col-md-6 col-xl-3">
                <img src="./assets/images/telo/telo9.jpg" alt="image" class="img-fluid mx-auto mb-4 d-block"/>
            </div>
            <div class="col-md-6 col-xl-3">
                <img src="./assets/images/telo/telo11.jpg" alt="image" class="img-fluid mx-auto mb-4 d-block"/>
            </div>
        </div>
    </div>
</section>

<section class="mint-back">
    <div class="container">
        <h2>Maderoterapie obličeje</h2>
        <div class="row">
            <div class="col-md-4">
                <img src="./assets/images/oblicej/oblicej1.jpg" alt="image" class="img-fluid mx-auto mb-4 d-block"/>
            </div>
            <div class="col-md-4">
                <img src="./assets/images/oblicej/oblicej2.jpg" alt="image" class="img-fluid mx-auto mb-4 d-block"/>
            </div>
            <div class="col-md-4">
                <img src="./assets/images/oblicej/oblicej3.jpg" alt="image" class="img-fluid mx-auto mb-4 d-block"/>
            </div>
        </div>
    </div>
</section>

<section id="promeny">
    <div class="container">
        <h2>Proměny</h2>
        <div class="row">
            <div class="col-md-6 col-xl-3">
                <img src="./assets/images/promeny/promeny1.jpg" alt="image" class="img-fluid mx-auto mb-4 d-block"/>
            </div>
            <div class="col-md-6 col-xl-3">
                <img src="./assets/images/promeny/promeny3.jpg" alt="image" class="img-fluid mx-auto mb-4 d-block"/>
            </div>
            <div class="col-md-6 col-xl-3">
                <img src="./assets/images/promeny/promeny2.jpg" alt="image" class="img-fluid mx-auto mb-4 d-block"/>
            </div>
            <div class="col-md-6 col-xl-3">
                <img src="./assets/images/promeny/promeny4.jpg" alt="image" class="img-fluid mx-auto mb-4 d-block"/>
            </div>
        </div>
    </div>
</section>

<section id="zabaly" class="mint-back">
    <div class="container">
        <h2>Zábaly</h2>
        <div class="row">
            <div class="col-md-6 col-xl-3">
                <img src="./assets/images/zabaly/zabaly1.jpg" alt="image" class="img-fluid mx-auto mb-4 d-block"/>
            </div>
            <div class="col-md-6 col-xl-3">
                <img src="./assets/images/zabaly/zabaly2.jpg" alt="image" class="img-fluid mx-auto mb-4 d-block"/>
            </div>
            <div class="col-md-6 col-xl-3">
                <img src="./assets/images/zabaly/zabaly3.jpg" alt="image" class="img-fluid mx-auto mb-4 d-block"/>
            </div>
            <div class="col-md-6 col-xl-3">
                <img src="./assets/images/zabaly/zabaly4.jpg" alt="image" class="img-fluid mx-auto mb-4 d-block"/>
            </div>
            <div class="col-md-6 col-xl-3">
                <img src="./assets/images/zabaly/zabaly5.jpg" alt="image" class="img-fluid mx-auto mb-4 d-block"/>
            </div>
            <div class="col-md-6 col-xl-3">
                <img src="./assets/images/zabaly/zabaly6.jpg" alt="image" class="img-fluid mx-auto mb-4 d-block"/>
            </div>
            <div class="col-md-6 col-xl-3">
                <img src="./assets/images/zabaly/zabaly7.jpg" alt="image" class="img-fluid mx-auto mb-4 d-block"/>
            </div>
            <div class="col-md-6 col-xl-3">
                <img src="./assets/images/zabaly/zabaly8.jpg" alt="image" class="img-fluid mx-auto mb-4 d-block"/>
            </div>
        </div>
    </div>
</section>

<section id="salon">
    <div class="container">
        <h2>Salon</h2>
        <div class="row">
            <div class="col-md-6 col-xl-3">
                <img src="./assets/images/salon/salon1.jpg" alt="image" class="img-fluid mx-auto mb-4 d-block"/>
            </div>
            <div class="col-md-6 col-xl-3">
                <img src="./assets/images/salon/salon3.jpg" alt="image" class="img-fluid mx-auto mb-4 d-block"/>
            </div>
            <div class="col-md-6 col-xl-3">
                <img src="./assets/images/salon/salon4.jpg" alt="image" class="img-fluid mx-auto mb-4 d-block"/>
            </div>
            <div class="col-md-6 col-xl-3">
                <img src="./assets/images/salon/salon5.jpg" alt="image" class="img-fluid mx-auto mb-4 d-block"/>
            </div>
            <div class="col-md-6 col-xl-3">
                <img src="./assets/images/salon/salon6.jpg" alt="image" class="img-fluid mx-auto mb-4 d-block"/>
            </div>
            <div class="col-md-6 col-xl-3">
                <img src="./assets/images/salon/salon7.jpg" alt="image" class="img-fluid mx-auto mb-4 d-block"/>
            </div>
            <div class="col-md-6 col-xl-3">
                <img src="./assets/images/salon/salon8.jpg" alt="image" class="img-fluid mx-auto mb-4 d-block"/>
            </div>
            <div class="col-md-6 col-xl-3">
                <img src="./assets/images/salon/salon9.jpg" alt="image" class="img-fluid mx-auto mb-4 d-block"/>
            </div>
        </div>
    </div>
</section>