---
layout: default
title: Salon Madero
---

<section id="intro">
    <div class="container text-center">
        <h1>Krásnější a zdravější</h1>
        <h3>uvnitř i navenek</h3>
    </div>
</section>

{% include news.html %}

{% include orders.html %}

<section id="sluzby" class="">
    <div class="container text-center">
        <h2 class="text-center">Služby</h2>
        <div class="row">
            <div class="col-md-4">
                <a href="sluzby.html#madero-tela" class="service-item">
                    <div>
                        <img src="./assets/images/madero_tela.jpg" class="img-fluid rounded-circle anim" alt="madero">
                        <div class="services-heading">
                            Maderoterapie těla
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="sluzby.html#madero-obliceje" class="service-item">
                    <div>
                        <img src="./assets/images/madero_oblicej.jpg" class="img-fluid rounded-circle anim"
                             alt="madero">
                        <div class="services-heading">
                            Maderoterapie obličeje
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="sluzby.html#zabaly" class="service-item">
                    <div>
                        <img src="./assets/images/zabal.jpg" class="img-fluid rounded-circle anim" alt="zabaly">
                        <div class="services-heading">
                            Zábaly
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<section id="galerie" class="mint-back">
    <div class="container text-center">
        <h2>Galerie</h2>

        <div class="row gallery">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6 pb-15">
                        <a href="galerie.html#maderoterapie" class="">
                            <div class="card">
                                <div class="madero-photo"></div>
                                <div class="card-body">
                                    <h5 class="card-title">Více z maderoterapie</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-6 pb-15">
                        <a href="galerie.html#zabaly" class="">
                            <div class="card">
                                <div class="wraps-photo"></div>
                                <div class="card-body">
                                    <h5 class="card-title">Více ze zábalů</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="w-100"></div>
                <div class="gallery-pb">
                    <a href="galerie.html#promeny" class="">
                        <div class="card">
                            <div class="path-photo"></div>
                            <div class="card-body">
                                <h5 class="card-title">Více z proměn</h5>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-6">
                <a href="galerie.html#salon" class="">
                    <div class="card">
                        <div class="salon-photo"></div>
                        <div class="card-body">
                            <h5 class="card-title">Více ze salonu</h5>
                        </div>
                    </div>
                </a>
            </div>

        </div>
        <!--        </div>-->
    </div>
</section>

<section id="omne">
    <div class="container">
        <div class="row">
            <div class="col-md-4 align-self-center">
                <div class="container">
                    <img src="./assets/images/katka1.jpg" alt="Katerina Michalova"
                         class="img-profile img-fluid rounded-circle anim d-block">
                </div>
            </div>
            <div class="col-md-8 align-self-center txt-profile">
                <h2>Jmenuji se Katka</h2>
                <p class="lead">Splnil se mi sen, mám salon podle svých představ, v něm poskytuji
                    služby, které jsou účinné a dělají radost, a tato práce mě velmi baví.</p>
                <a href="omne.html" class="btn">Více o mně</a>
            </div>
        </div>
    </div>
</section>


