@charset "UTF-8";

/*
Reset
============================================
*/
*, html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1.5;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

button {
    text-transform: none;
    overflow: visible;
    cursor: pointer;
}

/*
Typography
============================================
*/
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    color: #333;
}

@media only screen and (min-width: 1600px) {
    body {
        font-size: 1.2rem;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

h1 {
    font-size: 3rem;
    color: white;
}

h2 {
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

h3 {
    font-size: 2rem;
    color: white;
    font-weight: 300;
}
a {
    transition:
        all 0.15s ease-in-out;
}

a:hover, a:focus, a:active {
    color: #F2B5D4;
    text-decoration: none;
    outline: 0;
    font-weight: bold;
}
a:hover:after, a:focus:after, a:active:after {
    background: #F2B5D4;
    outline: none;
}

.btn {
    margin-top: 2rem;
    background: #7BDFF2;
    color: white;
    padding: 12px 20px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    transition:
        color 0.15s ease-in-out,
        background-color 0.15s ease-in-out;
}

.btn:hover, .btn:focus, .btn:active {
    background-color: #F7D6E0;
    color: white;
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}

/*
Layout
============================================
*/
section {
    padding: 5em 0;
}

section:focus {
    outline: none;
}

.service-item div {
    margin-bottom: 30px;
    margin-top: 13px;
}

@media only screen and (min-width: 768px) {
    .mtop-5 {
        margin-top: 5rem;
    }
}

.c-background {
    background-color: #EFF7F6;
}

/*
Project specifics
============================================
*/
/*  navigation */
@media only screen and (min-width: 992px) {
    nav {
        height: 15vh;
    }
}

nav a {
    font-weight: bold;
    color: white;
    transition:
        color 0.15s ease-in-out;
}

svg {
    transition: 0.4s;
}

.logo {
    fill: white;
    stroke:white;
    stroke-width:0.2mm;
}

nav .btn {
    margin: 1rem;
    transition: 0.4s;
}

@media only screen and (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 0 1.5rem;
    }
}

.navbar-toggler {
    border-color: rgb(251, 251, 251);
    height: 49px;
}

.navbar-toggler span {
    display: block;
    background-color: white;
    height: 3px;
    width: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    left: 0;
    opacity: 1;
    transition: all 0.35s ease-out;
    transform-origin: center left;
}

.navbar-toggler span:nth-child(1) {
    margin-top: 0.3em;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
    transform: translate(15%, -33%) rotate(45deg);
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
    opacity: 0;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
    transform: translate(15%, 33%) rotate(-45deg) ;
}

.navbar-toggler span:nth-child(1) {
    transform: translate(0%, 0%) rotate(0deg) ;
}

.navbar-toggler span:nth-child(2) {
    opacity: 1;
}

.navbar-toggler span:nth-child(3) {
    transform: translate(0%, 0%) rotate(0deg) ;
}


.shrink {
    background-color: rgba(255,255,255, 0.9);
}

nav.shrink a {
    color: #333;
}

.shrink a:hover {
    color: #F2B5D4;
}

.shrink .btn {
    color: white;
}

.shrink .btn:hover {
    color: white;
}

.shrink svg {
    padding: 4px 0;
}

.shrink .logo {
    fill: #333;
    stroke: #333;
}

.shrink .navbar-toggler {
    border-color: #333;
}

.shrink .navbar-toggler span {
    background-color: #333;
}

@media only screen and (min-width: 992px) {
    .shrink {
        padding: 0 1rem;
    }

    nav.shrink .btn {
        margin: 0.5rem 1rem;
    }
}

@media only screen and (min-width: 400px) and (max-width: 991px) {
    nav.shrink .btn {
        margin: 0 1rem;
    }
}

@media only screen and (max-width: 399px) {
    nav .btn {
        margin-left: auto;
        margin-right: 0;
    }
}

.navbar-collapse.show~.btn, .navbar-collapse.collapsing~.btn {
    margin-left: auto;
    margin-right: 0;
}

.navbar-collapse.show, .navbar-collapse.collapsing {
    padding-top: 1rem;
}

.navbar-toggler:focus {
    outline: none;
}

@media only screen and (min-width: 992px) {
    .nav-link {
        position: relative;
    }

    .nav-link:after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 0%;
        content: '.';
        color: transparent;
        height: 1px;
        transition: all .5s;
    }

    .nav-link:hover:after {
        width: 80%;
    }
}


/*  intro */
#intro {
    height: 100vh;
    min-height: 590px;
    background-image: url("images/madero.jpg")!important;
    background-image-image:
        linear-gradient(to right,
        white, rgba(0, 0, 0, 0.6)),
        url("images/intro_xs.jpg")!important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media only screen and (min-width: 600px) {
    #intro {
        background-image:
            linear-gradient(to right,
            white, rgba(0, 0, 0, 0.6)),
            url("images/intro_sm.jpg");
    }
}

@media only screen and (min-width: 900px) {
    #intro {
        background-image:
            linear-gradient(to right,
            white, rgba(0, 0, 0, 0.6)),
            url("images/intro_m.jpg");
    }
}

@media only screen and (min-width: 1200px) {
    #intro {
        background-image:
            linear-gradient(to right,
            white, rgba(0, 0, 0, 0.6)),
            url("images/intro_l.jpg");
    }
}

@media only screen and (min-width: 1800px) {
    #intro {
        background-image:
            linear-gradient(to right,
            white, rgba(0, 0, 0, 0.6)),
            url("images/intro_xl.jpg");
    }
}

#intro .container {
    padding-top: 20vh;
    padding-bottom: 1rem;
}

/* orders */
a.order {
    color: #333;
}

a.order:hover {
    font-weight: 400;
    color: #F2B5D4;
}

.order i {
    font-size: 2rem;
}

.order p {
    display: inline;
    position: relative;
    top: -4px;
    padding-left: 7px;
}


@media only screen and (min-width: 992px) {
    #orders .lead {
        position: relative;
        top: 4px;
        padding-right: 30px;
    }
}

@media only screen and (max-width: 991px) {
    #orders {
        text-align: center;
    }

    a.order {
        display: block;
        margin-top: 20px;
    }
}

/* services */
.services-heading {
    text-align: center;
    color: #333;
    font-size: 1.5rem;
    margin-top: 30px;
    padding-bottom: 10px;
    font-weight: 300;
}

.service-item p {
    text-align: center;
}

.service-item img {
    border: 14px solid #B2F7EF;
    transition: all .2s ease-in-out;
}

#sluzby .col-lg-4:nth-child(2) img {
    border-color: #F2B5D4;
}

#sluzby .col-lg-4:nth-child(3) img {
    border-color: #7BDFF2;
}

.service-item:hover img {
    transform: scale(1.1);
}


@media only screen and (min-width: 992px) {
    .service-item img {
        max-width: 200px;
    }
}


/* about */
@media only screen and (max-width: 767px) {
    .img-profile {
        margin: 0 auto 3rem;
    }

    .txt-profile {
        text-align: center;
    }
}

/* contact */
#kontakt {
    background-image: url("images/katka.jpg")!important;
    background-image:
        linear-gradient(to left,
        white, rgba(0, 0, 0, 0.6)),
        url("images/katka.jpg")!important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media only screen and (min-width: 600px) {
    #kontakt {
        background-image:
            linear-gradient(to left,
            white, rgba(0, 0, 0, 0.6)),
            url("images/backgr_sm.jpg");
    }
}

@media only screen and (min-width: 900px) {
    #kontakt {
        background-image:
            linear-gradient(to left,
            white, rgba(0, 0, 0, 0.6)),
            url("images/backgr_m.jpg");
    }
}

@media only screen and (min-width: 1200px) {
    #kontakt {
        background-image:
            linear-gradient(to left,
            white, rgba(0, 0, 0, 0.6)),
            url("images/backgr_l.jpg");
    }
}

@media only screen and (min-width: 1800px) {
    #kontakt {
        background-image:
            linear-gradient(to left,
            white, rgba(0, 0, 0, 0.6)),
            url("images/backgr_xl.jpg");
    }
}

address {
    font-size: 1.2rem;
}

address a {
    display: block;
    position: relative;
    color: inherit;
    z-index: 1;
    padding-bottom: 2rem;
    padding-left: 50px;
}


address i.fa {
    position: absolute;
    left: 0px;
    bottom: 20px;
    font-size: 3rem;
}

i.fa.fa-compass {
    bottom: 46px;
}

i.fa.fa-mobile {
    left: 10px;
}

.follow .fa {
    color: #333;
    font-size: 3rem;
    padding: 20px;
}

.follow .fa:hover {
    color: #F2B5D4;
}


@media only screen and (max-width: 767px) {
    address {
        text-align: center;
    }

    address a {
        padding-left: 0;
    }

    address i.fa {
        display: none;
    }
}

footer {
    padding: 1rem 0;
}

/* PRINT CSS */
/* ============================================== */
@media print {
    header, footer {
        display: none;
    }

    * {
        color: black !important;
    }

    /* .d-print:after {
        content: "Šetřme naši přírodu - nastavení neumožní přímo z prohlížeče vytisknout více než kontaktní údaje.";
    } */
}


/* pricing */
.price-content {
    margin-bottom: 20px;
}

.price-mainheading {
    font-size: 1.2rem;
}

.price-heading {
    color: #F2B5D4;
}

.price-item {
    position: absolute;
    right: 15px;
    color: #333;
    display: inline;
}

@media only screen and (max-width: 425px) {
    .price-heading {
        max-width: 250px;
    }
}

@media only screen and (min-width: 800px) {
    .price-content {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    .price-heading {
        position: relative;

    }
}



.card {
    webkit-box-shadow: 0 10px 15px -3px rgb(0 0 0 / 7%), 0 4px 6px -2px rgb(0 0 0 / 5%);
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 7%), 0 4px 6px -2px rgb(0 0 0 / 5%);
}

.card-title {
    color: #333;
    margin-bottom: 0;
}

.carousel-item a:hover .card-title {
     color: #F2B5D4;
}

