<section id="kontakt" class="pink-back">
    <div class="container">
        <h2 class="text-center">Kontakt</h2>
        <div class="row lead justify-content-center">
            <div class="container col-lg-3 col-md-5 offset-lg-3 offset-md-2 position-relative">
                <div class="d-print">
                    <address>
                        <a href="https://mapy.cz/s/kovajocuho" target="_blank">
                            <p class="font-400">Salon Madero</p>
                            <p>Kateřina Michalová</p>
                            <p class="hover-address">Komenského 37/10</p>
                            <p class="hover-address">Poděbrady 290 01</p>
                        </a>
                        <a href="tel:+420739097469" class="phone"><i class="fa fa-mobile"></i>739 097 469</a>
                    </address>
                </div>
            </div>
            <div class="social container col-lg-6 col-md-5">
                <div class="text-center">


                <p>Zůstaňme ve spojení:</p>
                <p class="follow">
                    <a href="https://www.facebook.com/people/Maderoterapie-Bodywood/100069977362631"
                                     target="_blank"><i class="fa fa-facebook"></i>
                    </a>
                    <a href="https://www.instagram.com/salon_madero/" target="_blank">
                        <i class="fa fa-instagram"></i>
                    </a>
                </p>
                    </div>
            </div>
        </div>

    </div>
</section>