<!--
pokud chces sekci Aktuality viditelnou, dej na prvni radek: <section id="news" class="text-center pink-back">
pokud chces, aby sekce videt nebyla, dej na prvni radek: <section id="news" class="text-center pink-back d-none">
-->
<section id="news" class="text-center pink-back">


<!--na nasledujici dva radky nasahat :)-->
<div class="container">
<h2>

<!--na nasledujicim radku je misto, kde muzes zmenit nazev aktuality    -->
Dárkové poukazy

<!--na nasledujici dva radky nesahat :)-->
</h2>
<p class="lead">


<!--na nasledujicim radku je misto, kam vetou zapis, o jakou aktualitu se jedna (pouze text, nelze vlozit obrazky)-->
Možnost zakoupení dárkových poukazů v jakékoliv hodnotě. Objednávejte v salonu a na kontaktech níže.


<!--pod timto radkem uz nic nemen-->
</p>
</div>
</section>