<!--
pokud chces sekci Aktuality viditelnou, dej na prvni radek: <section id="news" class="text-center pink-back">
pokud chces, aby sekce videt nebyla, dej na prvni radek: <section id="news" class="text-center pink-back d-none">
-->
<section id="news" class="text-center pink-back d-none">


<!--na nasledujici dva radky nasahat :)-->
<div class="container">
<h2>

<!--na nasledujicim radku je misto, kde muzes zmenit nazev aktuality    -->
Aktuality

<!--na nasledujici dva radky nasahat :)-->
</h2>
<p class="lead">


<!--na nasledujicim radku je misto, kam vetou zapis, o jakou aktualitu se jedna (pouze text, nelze vlozit obrazky)-->
Pozor! Blizi se Vanoce, tak se nevahejte poptat na darkove poukazy namaderoterapii.


<!--pod timto radkem uz nic nemen-->
</p>
</div>
</section>