<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-auto col-md-12">
            <p class="lead">Objednávejte na:</p>
        </div>
        <div class="col-md-auto">
            <a href="tel:+420739097469" class="order"><i class="fa fa-mobile"></i>
                <p>739 097 469</p></a>
        </div>
        <div class="col-md-auto">
            <a href="https://www.facebook.com/people/Maderoterapie-Bodywood/100069977362631" target="_blank"
               class="order">
                <i class="fa fa-facebook"></i>
                <p>Maderoterapie-Bodywood</p></a>
        </div>
        <div class="col-md-auto">
            <a href="https://www.instagram.com/salon_madero/" target="_blank" class="order">
                <i class="fa fa-instagram"></i>
                <p>Salon_Madero</p></a>
        </div>
    </div>
</div>