@charset "UTF-8";

/*
Reset
============================================
*/
*, html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1.5;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

button {
    text-transform: none;
    overflow: visible;
    cursor: pointer;
}

/*
Typography
============================================
*/
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    color: #333;
}

@media only screen and (min-width: 1600px) {
    body {
        font-size: 1.2rem;
    }
}

h1, h2, h3, h4 {
    font-family: 'Marcellus', sans-serif;
    margin-bottom: 0.5rem;
    line-height: 1.2;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

h3 {
    font-size: 1.5rem;
}

#intro h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-style: italic;
}

em {
    font-style: italic;
    color: #58D5EE;
}

p {
    margin-bottom: 1rem;
}

a {
    color: #333;
    transition:
        all 0.15s ease-in-out;
}

a:hover, a:focus, a:active {
    color: #ED97C2;
    text-decoration: none;
    outline: 0;
}

a:hover:after, a:focus:after, a:active:after {
    background: #ED97C2;
    outline: none;
}

.btn {
    margin-top: 2rem;
    background: #7BDFF2;
    color: white;
    padding: 12px 20px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    transition:
        color 0.15s ease-in-out,
        background-color 0.15s ease-in-out;
}

.btn:hover, .btn:focus, .btn:active {
    background-color: #F7D6E0;
    color: white;
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}

.font-light {
    font-weight: 100;
}

.font-400 {
    font-weight: 400;
}

.font-bold {
    font-weight: 600;
}

.check-list li {
    display: block;
    margin-left: 18px;
}

.check-list li:before {
    content: "\f00c";
    font-family: 'FontAwesome';
    font-size: 10px;
    float: left;
    margin-left: -17px;
    color: #ED97C2;
}

.list-circle {
    list-style-type: circle;
}

.list-circle li {
    margin-left: 17px;
}


/*
Layout
============================================
*/
.pb-15 {
    padding-bottom: 15px;
}

@media only screen and (max-width: 991px) {
    .gallery-pb {
        padding-bottom: 15px;
    }
}

.mb-3rem {
    margin-bottom: 3rem;
}
@media only screen and (max-width: 575px) {
    .mb-sm {
        margin-bottom: 3rem;
    }
}

@media only screen and (max-width: 767px) {
    .mb-md {
        margin-bottom: 3rem;
    }
}

@media only screen and (min-width: 768px) {
    .mtop-5 {
        margin-top: 5rem;
    }
}

section {
    padding: 5em 0;
}

section:focus {
    outline: none;
}

.service-item div {
    margin-bottom: 30px;
    margin-top: 13px;
}

.card {
    webkit-box-shadow: 0 10px 15px -3px rgb(0 0 0 / 7%), 0 4px 6px -2px rgb(0 0 0 / 5%);
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 7%), 0 4px 6px -2px rgb(0 0 0 / 5%);
    border: 0;
    height: 100%;
}

.mint-back {
    background-color: #EFF7F6;
}

.pink-back {
    background-color: #F7D6E0;
}

.blue-back {
    background-color: #D6F1F7;
}

.green-back {
    background-color: #D6F7ED;
}

.pink-border {
    border-left: 5px solid #ED97C2;
    padding-left: 15px;
    padding-right: 15px;
    width: fit-content;
}


/*
Project specifics
============================================
*/
/*  navigation */
@media only screen and (min-width: 992px) {
    nav {
        height: 15vh;
    }
}

nav a {
    color: #333;
}

nav .btn {
    margin: 1rem;
    transition: 0.4s;
}

@media only screen and (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 0 1.5rem;
    }
}

.navbar-brand {
    font-family: 'Marcellus', sans-serif;
    transition: none;
}

.brand-black, .brand-pink {
    max-height: 50px;
}

.brand-black {
    display: inline-block;
}

.brand-pink {
    display: none;
}

.navbar-brand:hover .brand-black {
    display: none;
}

.navbar-brand:hover .brand-pink {
    display: inline-block;
}

.navbar-toggler {
    border-color: #333;
    height: 49px;
}

.navbar-toggler span {
    display: block;
    background-color: #333;
    height: 3px;
    width: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    left: 0;
    opacity: 1;
    transition: all 0.35s ease-out;
    transform-origin: center left;
}

.navbar-toggler span:nth-child(1) {
    margin-top: 0.3em;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
    transform: translate(15%, -33%) rotate(45deg);
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
    opacity: 0;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
    transform: translate(15%, 33%) rotate(-45deg) ;
}

.navbar-toggler span:nth-child(1) {
    transform: translate(0%, 0%) rotate(0deg) ;
}

.navbar-toggler span:nth-child(2) {
    opacity: 1;
}

.navbar-toggler span:nth-child(3) {
    transform: translate(0%, 0%) rotate(0deg) ;
}

.shrink {
    background-color: rgba(255,255,255, 0.9);
    border-bottom: 1px solid #F7D6E0;
}

nav.shrink a {
    color: #333;
}

.shrink a:hover {
    color: #ED97C2;
}

.shrink .btn {
    color: white;
}

.shrink .btn:hover {
    color: white;
}

.shrink .navbar-toggler {
    border-color: #333;
}

.shrink .navbar-toggler span {
    background-color: #333;
}

@media only screen and (min-width: 992px) {
    .shrink {
        padding: 0 1rem;
    }

    nav.shrink .btn {
        margin: 0.5rem 1rem;
    }
}

@media only screen and (min-width: 400px) and (max-width: 991px) {
    nav.shrink .btn {
        margin: 0 1rem;
    }
}

@media only screen and (max-width: 399px) {
    nav .btn {
        margin-left: auto;
        margin-right: 0;
    }
}

.navbar-collapse.show~.btn, .navbar-collapse.collapsing~.btn {
    margin-left: auto;
    margin-right: 0;
}

.navbar-collapse.show, .navbar-collapse.collapsing {
    padding-top: 1rem;
}

.navbar-toggler:focus {
    outline: none;
}

@media only screen and (min-width: 992px) {
    .nav-link {
        position: relative;
    }

    .nav-link:after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 0%;
        content: '.';
        color: transparent;
        height: 1px;
        transition: all .5s;
    }

    .nav-link:hover:after {
        width: 80%;
    }
}


/*  intro */
#intro {
    height: 100vh;
    min-height: 560px;
    background-image: url("images/intro2.jpg");
   background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}



#intro.sluzby {
    background-image: url("images/intro3.jpg");
}

#intro.galerie {
    background-image: url("images/intro4.jpg");
}

#intro.omne {
    background-image: url("images/intro_l.jpg");
}

#intro.cenik {
    background-image: url("images/intro5.jpg");
}

#intro:before {
    content: "";
     background-color: rgba(255,255,255, 0.85);
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.75;
      min-height: 560px;

}

/*
@media only screen and (min-width: 600px) {
    #intro {
        background-image: url("images/intro_sm.jpg");
    }
}

@media only screen and (min-width: 900px) {
    #intro {
        background-image: url("images/intro_m.jpg");
    }
}

@media only screen and (min-width: 1200px) {
    #intro {
        background-image: url("images/intro_l.jpg");
    }
}

@media only screen and (min-width: 1800px) {
    #intro {
        background-image: url("images/intro_xl.jpg");
    }
}
*/

#intro > .container {
    padding-top: 30vh;
    padding-bottom: 1rem;
    position: relative;
}

/* orders */
a.order {
    color: #333;
}

a.order:hover {
    color: #ED97C2;
}

.order i {
    font-size: 2rem;
}

.order p {
    display: inline;
    position: relative;
    top: -4px;
    padding-left: 7px;
}


@media only screen and (min-width: 992px) {
    #orders .lead {
        position: relative;
        top: 4px;
        padding-right: 30px;
    }
}

@media only screen and (max-width: 991px) {
    #orders {
        text-align: center;
    }

    a.order {
        display: block;
        margin-top: 20px;
    }
}

/* services */
.services-heading {
    text-align: center;
    color: #333;
    font-size: 1.2rem;
    margin-top: 30px;
    padding-bottom: 10px;
    font-weight: 300;
}

.service-item p {
    text-align: center;
}

.service-item img {
    border: 14px solid #d6f1f7;
    transition: all .2s ease-in-out;
}

#sluzby .col-md-4:nth-child(2) img {
    border-color: #F7D6E0;
}

#sluzby .col-md-4:nth-child(3) img {
    border-color: #D6F7ED;
}

.service-item:hover img {
    transform: scale(1.1);
}

.service-item img {
    max-width: 200px;
}

.service-item:hover .services-heading {
    font-weight: 400;
}


/* gallery */
.gallery a:hover .card-title {
     color: #ED97C2;
     font-weight: bold;
}

.gallery .card-img-top {
    height: 100%;
}

.gallery .card .path-photo {
    height: 200px;
    background-image: url("images/promeny/promeny4.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.gallery .card .madero-photo {
    height: 200px;
    background-image: url("images/telo/telo7.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.gallery .card .salon-photo {
    height: 200px;
    background-image: url("images/salon/salon4.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.gallery .card .wraps-photo {
    height: 200px;
    background-image: url("images/zabaly/zabaly5.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media only screen and (min-width: 992px){
    .gallery .card .path-photo {
        height: 200px;
    }
    .gallery .card .madero-photo {
        height: 100px;
    }
    .gallery .card .salon-photo {
        height: 381px;
    }
    .gallery .card .wraps-photo {
        height: 100px;
    }
}

.gallery .card-title {
    margin: 0;
}


/* about */
@media only screen and (max-width: 767px) {
    .img-profile {
        margin: 0 auto 3rem;
        max-width: 350px;
    }

    .txt-profile {
        text-align: center;
    }
}


/* contact */
address {
    font-size: 1.2rem;
}

address a {
    display: block;
    color: inherit;
    z-index: 1;
    padding-bottom: 2rem;
}

address a:hover, address a:active, address a:focus {
    color: #333;
}

address a:hover .hover-address, address a.phone:hover {
    color: white;
    font-weight: bold;
}

address i.fa {
    position: relative;
    bottom: -5px;
    font-size: 2.3rem;
    padding-right: 10px;
}

.follow .fa {
    color: #333;
    font-size: 3rem;
    padding: 20px 20px 0;
}

.follow a:hover, .follow a:hover .fa {
    color: white;
}

.phone .fa {
    position: relative;
    bottom: -10px;
    transition: all 0.15s ease-in-out;
}

.follow a:hover {
    color: white;
    font-weight: bold;
}

@media only screen and (max-width: 767px) {
    address {
        text-align: center;
    }
    address a:nth-child(1) {
       padding-bottom: 0;
    }
    address a:nth-child(2) {
       padding-bottom: 4rem;
    }}

footer {
    padding: 1rem 0;
    font-size: 0.9rem;
}

footer a {
    text-decoration: underline;
}

/* PRINT CSS */
/* ============================================== */
@media print {
    header, footer {
        display: none;
    }

    * {
        color: black !important;
    }

    /* .d-print:after {
        content: "Šetřme naši přírodu - nastavení neumožní přímo z prohlížeče vytisknout více než kontaktní údaje.";
    } */
}


/* pricing */
.price-content {
    margin-bottom: 100px;
}
/*
.price-mainheading {
    font-size: 1.75rem;
    color: #ED97C2;
}

.price-content:nth-child(2n) .price-mainheading {
    color: #58D5EE;
}
*/

.price-mainheading {
    font-size: 1.75rem;
}

.price-mainheading .border-bottom {
    border-bottom-color: #333!important;
}

.price-heading {
    color: #333;
    position: relative;
    padding-top: 20px;
}

.price-item {
    position: absolute;
    right: 15px;
    color: #333;
    display: inline;
}

@media only screen and (max-width: 425px) {
    .price-heading {
        max-width: 250px;
    }
}

@media only screen and (min-width: 800px) {
    .price-content {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    .price-heading {
        position: relative;
    }
}


/* about subpage */
.signature {
    padding-top: 1.5rem;
}


/* gallery subpage */
.photo img {
    max-width: 400px;
    max-height: 400px;
    background: #dee2e6;
    margin: 1rem;
}

/* services subpage */
.wraps-resolve {
    height: auto;
    width: fit-content;
    margin: auto;
}

